# 记录本仓库子模块的路径、远端地址和默认分支。
[submodule "JobsBaseConfig@JobsOCBaseConfigDemo"]
	path = JobsBaseConfig@JobsOCBaseConfigDemo
	url = ../JobsOCBaseConfigDemo.git
	branch = main
[submodule "JobsBaseConfig@JobsSwiftBaseConfigDemo"]
	path = JobsBaseConfig@JobsSwiftBaseConfigDemo
	url = ../JobsSwiftBaseConfigDemo.git
	branch = main
[submodule "JobsBaseConfig@JobsFlutterBaseConfigDemo"]
	path = JobsBaseConfig@JobsFlutterBaseConfigDemo
	url = ../JobsFlutterBaseConfigDemo.git
	branch = main
[submodule "JobsBaseConfig@JobsSwiftUIBaseConfigDemo"]
	path = JobsBaseConfig@JobsSwiftUIBaseConfigDemo
	url = ../JobsSwiftUIBaseConfigDemo.git
	branch = main
